.common_conditions: &common_conditions
  state: opened
  ruby: |
<% if group.stage&.label %>    can_add_default_group_and_stage?<% else %>    can_add_default_group?<% end %><% if group.default_labeling_exclude_projects.any? %> &&
    <%= group.default_labeling_exclude_projects.inspect %>.exclude?(resource[:project_id])<% end %>
.common_actions: &common_actions
  labels:
<% labels = [group.label, group.stage&.label, *group.extra_labels].compact.uniq.reject { |l| l.empty? } -%>
<% labels.each do |label| %>    - "<%= label %>"
<% end %>
resource_rules:
  issues:
    rules:
      - name: Add <%= labels.map { |label| %(~"#{label}") }.join(', ') %> to open issues
        conditions:
          <<: *common_conditions
        actions:
          <<: *common_actions

  merge_requests:
    rules:
      - name: Add <%= labels.map { |label| %(~"#{label}") }.join(', ') %> to open merge requests
        conditions:
          <<: *common_conditions
        actions:
          <<: *common_actions
